.constainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex: 1 0 0;
  border-radius: 8px;
  flex-direction: column;
}
.constainer input {
  display: flex;
  width: 28rem;
  padding: 1rem;
  align-items: center;
  gap: 0.5px;
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  background: var(--gray-500);
}
.constainer button {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 8px;
  background: var(--blue-dark);
  color: #fff;
}
.comment {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
}
.table_tasks {
  display: flex;
  width: 563px;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.create_completed {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}
.criados {
  color: var(--Blue, #4ea8de);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.concluidas {
  color: var(--Purple, #8284fa);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.body_tarefas {
  display: flex;
  padding: 64px 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 8px;
  border-top: 1px solid var(--Grey-400, #333);
}
.body_tarefas p {
  font-size: 16px;
}
